<div class="container">
    <h1>Eat-Da-Burger!</h1>

    <section>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <li>{{id}}. {{burger_name}}</li>
                    <button id="{{id}}" class="devour-btn">Devour it!</button>
                {{/unless}}
            {{/each}}
        </ul>

    </section>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    <li>{{id}}. {{burger_name}}</li>
                {{/if}}
            {{/each}}
        </ul>
    <section>

    </section>

    <section>
        <p>Enter a burger you want to eat, and click the "Submit" button.</p>
        <form class="create-form">
            <div class="form-group">
                <label for="burger-name"></label>
                <input type="text" id="burger-name" name="name">
            </div>
            <button type="submit">Submit</button>
        </form>
    </section>
</div>
